<mat-card class="home mat-elevation-z3" >
    <!-- <mat-card-title class="title">
        Bem vindo 
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Aqui entra um subtitulo relevante para nossa aplicação.
    </mat-card-subtitle> -->

    <section class="contentMain">
        
        <a class="homeBtn" routerLink="/products">
            <i class="material-icons icon">
                store
            </i>
            Produtos
        </a>

        <a class="homeBtn" routerLink="/contatos">
            <i class="material-icons icon">
                contacts
            </i>
            Contatos
        </a>
    </section>
</mat-card>

