/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; text-decoration: none; list-style-type: none; outline: none; box-sizing: border-box;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.violeta { 
    color: #8b15be;
}

.v-middle {
    vertical-align: middle;
    
}

.msgSucess {
    background-color: #29a745;
    color: #fff;
}

.msgError {
    background-color: #e35e6b;
    color: #fff;
}